---
import MainHead from "../components/MainHead.astro";
import Footer from "../components/Footer/index.jsx";
import Nav from "../components/Nav/index.jsx";
import Languages from "../components/Languages/index.astro";
---

<html lang="en">
  <head>
    <MainHead title="About | Kaustubh" description="About | Kaustubh" />
    <!-- <style lang="scss">
      .heroImg {
        object-fit: cover;

        img {
          width: 100%;
          height: 100%;
        }

        @media (min-width: 600px) {
          img {
            width: 50%;
            height: 50%;
            max-width: 400px;
            float: right;
          }
        }
      }

      .bio {
        font-size: var(--f-u1);
        line-height: 2;
        /* margin-left: minmax(10px, 20px); */
      }
    </style> -->
  </head>
  <body>
    <Nav />
    <div class="wrapper">
      <div class="bio wrapper wrapper__readable mt8">
        <h1 style="line-height: 0.4;">About</h1>
        <p>Hello! I am Kaustubh. I am a Web developer, UI/UX enthusiast.</p>

        <div class="heroImg">
          <img src="/assets/illustration.jpg" alt="illustration" />
        </div>

        <div style="margin: 3rem 0;">
          <h2>Things I love</h2>
          <Languages />
        </div>
      </div>
      <Footer />
    </div>
  </body>
</html>
