---
import Languages from "../components/Languages/index.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Kaustubh" description="About page.">
  <div
    class="m-auto flex flex-col md:flex-row-reverse justify-center items-center"
  >
    <img
      class="w-1/2 m-auto max-w-md sm:float-right justify-self-center"
      src="/assets/hello.svg"
      alt="illustration"
    />

    <div class="">
      <p class="text-2xl text-purple-500 font-semibold">
        Hello! I am Kaustubh!
      </p>
      <h3 class="text-md mb-8 md:text-xl">
        I am an aspiring Full-stack Web developer. I am pretty confident with
        frontend technologies. I have also used Nodejs for some backend
        developement.
      </h3>
    </div>
  </div>

  <Languages />
</Layout>
