---
import Footer from "../components/Footer/index.astro";
import Nav from "../components/Nav/index.jsx";
import Languages from "../components/Languages/index.astro";
---

<html lang="en">
  <head>
    <title>About | Kaustubh</title>
  </head>

  <body>
    <Nav active="about" />
    <div class="pt-24"></div>

    <div
      class="sm:py-6 sm:mx-32 flex flex-col lg:flex-row-reverse jutify-center items-center"
    >
      <img
        class="w-1/2 m-auto max-w-md justify-self-center"
        src="/assets/illustration.jpg"
        alt="illustration"
      />

      <div class="top-8 sm:top-1/3 m-8 sm:py-16">
        <p class="text-md lg:text-lg text-red-500">Hello! I am Kaustubh!</p>
        <h3 class="text-md mb-8 sm:max-w-md lg:text-xl">
          I am an aspiring Full-stack Web developer. I am pretty confident with
          frontend technologies. I have also used Nodejs for some backend
          developement.
        </h3>
      </div>
    </div>

    <Languages />
    <Footer />
  </body>
</html>
