---
import Layout from "../layouts/Layout.astro";
// import ContactForm from "../components/ContactForm/index.jsx";
import ProjectAndSkill from "../components/ProjectsAndSkills/index.jsx";
import Skills from "../components/Skills/index.jsx";
---

<Layout
  title="Portfolio | Kaustubh"
  description="Kaustubh: Developer, Learner, and UI/UX Enthusiast..."
>
  <main class="sm:mx-32 sm:p-6 flex flex-col gap-6">
    <div class="pt-6"></div>

    <!-- hero section -->
    <header class="min-h-[75vh]">
      <div class="w-[85vw] h-full grid gap-4 grid-cols-2 mx-auto">
        <div class="flex justify-center items-center col-span-2 md:col-span-1">
          <img class="img w-full" src="/assets/home.png" />
        </div>
        <div
          class="col-span-2 px-2 md:col-span-1 flex flex-col justify-center items-start"
        >
          <p class="text-xl font-semibold sm:font-normal sm:text-4xl">
            Hi! I'm Kaustubh.
          </p>
          <h1 class="text-lg max-w-sm sm:max-w-md sm:text-2xl sm:mt-3">
            I create user interfaces and experiences that you remember.
          </h1>
          <a
            href="https://www.github.com/kaustubh-2406"
            target="_blank"
            class="inline-block bg-purple-300 self-start my-2 flex-0 px-4 py-2 rounded text-sm sm:text-md"
          >
            Visit github
          </a>
        </div>
      </div>
    </header>

    <!-- skills section -->
    <section class="md:w-4/5 max-w-6xl m-auto overflow-hidden">
      <h1 class="text-2xl sm:text-4xl font-semibold text-center">Skills</h1>
      <div class="my-8">
        <Skills />
      </div>
    </section>

    <!-- Featured Projects with techs used -->
    <section class="overflow-hidden sm:overflow-visible">
      <h1 class="text-2xl sm:text-4xl font-bold text-center">
        Projects and Technologies
      </h1>

      <ProjectAndSkill client:load />
    </section>

    <!-- Download resume section -->
    <section>
      <div class="p-2 grid grid-cols-2 gap-4">
        <div class="flex justify-center items-center">
          <img
            class="w-3/4"
            src="/assets/resume.svg"
            alt="resume illustration"
          />
        </div>
        <div class="flex flex-col gap-4 justify-center">
          <h1 class="text-2xl font-bold">Download Resume</h1>
          <div>
            <div>You can download by clicking the following button</div>
            <a
              class="px-4 py-2 mt-2 bg-purple-300 rounded-md inline-block"
              href="/kaustubh_resume.pdf"
              download
            >
              Download
            </a>
          </div>
        </div>
      </div>
    </section>

    <!-- contact section -->
    <!-- <ContactForm client:load /> -->
  </main>
</Layout>
