---
import Layout from "../layouts/Layout.astro";
// import ContactForm from "../components/ContactForm/index.jsx";
import ProjectAndSkill from "../components/ProjectsAndSkills/index.jsx";
import Skills from "../components/Skills/index.jsx";
---

<Layout
  title="Portfolio | Kaustubh"
  description="Kaustubh: Developer, Learner, and UI/UX Enthusiast..."
>
  <!-- hero section -->
  <header class="min-h-[50vh] sm:min-h-auto flex gap-8 flex-col sm:flex-row">
    <div class="flex-1 flex justify-center items-center">
      <img
        class="w-2/3 md:w-1/2 max-w-[500px] self-center"
        src="/assets/programmer.svg"
      />
    </div>
    <div class="flex-1 flex flex-col justify-center items-start">
      <p class="text-xl font-semibold sm:font-normal sm:text-4xl">
        Hi! I'm Kaustubh.
      </p>
      <h1 class="text-lg sm:text-2xl sm:mt-3">
        I create user interfaces and experiences that you remember.
      </h1>
      <a
        href="https://www.github.com/kaustubh-2406"
        target="_blank"
        class="inline-block bg-purple-300 self-start my-2 flex-0 px-4 py-2 rounded text-sm sm:text-md"
      >
        Visit github
      </a>
    </div>
  </header>

  <!-- skills section -->
  <section class="m-auto overflow-hidden">
    <h1 class="text-2xl sm:text-4xl font-semibold text-center">Skills</h1>
    <div class="my-8">
      <Skills />
    </div>
  </section>

  <!-- Featured Projects with techs used -->
  <section class="w-full overflow-hidden sm:overflow-visible">
    <h1 class="text-2xl sm:text-4xl font-bold text-center">
      Projects and Technologies
    </h1>

    <ProjectAndSkill client:load />
  </section>

  <!-- Download resume section -->
  <section class="mb-8">
    <h1 class="text-2xl text-center font-bold mb-2">Download Resume</h1>
    <div class="p-2 grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="flex justify-center items-center">
        <img
          class="w-3/4 max-w-[300px]"
          src="/assets/resume.svg"
          alt="resume illustration"
        />
      </div>
      <div class="flex flex-col gap-4 justify-center text-center md:text-left">
        <div>You can download by clicking the following button</div>
        <a
          class="px-4 py-2 mt-2 self-center md:self-start bg-purple-300 rounded-md inline-block"
          href="/kaustubh_resume.pdf"
          download
        >
          Download
        </a>
      </div>
    </div>
  </section>

  <!-- contact section -->
  <!-- <ContactForm client:load /> -->
</Layout>
