---
import SocialIcons from "../SocialIcons/index.jsx";
---

<footer class="text-center border-t-gray-500 border-t-2 py-4">
  <div class="flex justify-center items-center">
    <SocialIcons />
  </div>
  <div class="mt-2">Copyright &copy; 2022 Kaustubh Agrawal</div>
</footer>
