---
import React from "react";
// import Styles from "./styles.module.scss";
import SocialIcons from "../SocialIcons/index.jsx";
---

<!-- function Footer() {
  return ( -->
<footer class="text-center border-t-gray-500 border-t-2 mt-4">
  <div class="mt-2">Copyright &copy; 2022 Kaustubh Agrawal</div>
  <div class="flex justify-center items-center my-2">
    <SocialIcons large />
  </div>
</footer>
<!-- // ); // } // export default Footer; -->
