---
import Footer from "../components/Footer/index.astro";
import Nav from "../components/Nav/index.jsx";

const {
  title = "Kaustubh Agrawal: Personal Site",
  description = "Kaustubh Agrawal | Portfolio",
} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" property="og:description" content={description} />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700;900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>

    <style>
      * {
        font-family: Inter, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
  </head>
  <body class="dark:bg-[#4B4453]">
    <Nav />

    <main
      class="flex flex-col justify-center gap-8 w-4/5 max-w-6xl self-center m-auto"
    >
      <div class="pt-24"></div>
      <slot />
    </main>

    <Footer />
  </body>
</html>
