---
import thingsILove from "../../../data/things-i-love.json";
---

<div class="mx-8 sm:p-6 sm:mx-20 md:p-6 md:mx-32">
  <h2 class="text-2xl sm:text-4xl text-center font-semibold">
    Technologies Used
  </h2>
  <div class="mb-8">
    {
      thingsILove.map((item) => (
        <div class="mt-8">
          <div class="flex justify-start items-center gap-3 mb-0">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="12"
              height="12"
              viewBox="0 0 24 24"
            >
              <path d="M10.024 4h6.015l7.961 8-7.961 8h-6.015l7.961-8-7.961-8zm-10.024 16h6.015l7.961-8-7.961-8h-6.015l7.961 8-7.961 8z" />
            </svg>

            <h4
              class="m-1 text-xl sm:text-2xl underline text-purple-500 pb-2"
              style="margin: 0.1rem"
            >
              {item.name}
            </h4>
          </div>
          <p class="text-md sm:text-lg" style="margin-left: 24px">
            {item.reason}
          </p>
        </div>
      ))
    }
  </div>
</div>
